<div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            Notify Contributor/Validator
          </div>
          <div class="card-text">
            <form (submit)="onSubmit()">

              <div class="form-group">
                  <label for="department">Department</label>
                  <select name="department" id="department" [(ngModel)]="notificationDetail.dept" class="form-control" (change)="onDepartmentSelected()" required>
                    <option *ngFor="let dept of depts" [value]="dept.deptID">{{ dept.name }}</option>
                  </select>
                </div>

                <div class="form-group">
                    <label for="semester">Semester</label>
                    <select name="semester" id="semester" [(ngModel)]="notificationDetail.sem" class="form-control" (change)="onSemesterSelected()" required>
                        <option *ngFor="let sem of semesters" [value]="sem.semNo">{{ sem.semNo }}</option>
                      </select>
                </div>

                <div class="form-group">
                  <label for="coursename">Course Name</label>
                  <select name="coursename" id="coursename" [(ngModel)]="notificationDetail.subId" class="form-control" (click)="checkSubjectStatus()" required>
                      <option *ngFor="let sub of subjects" [value]="sub.subID">{{ sub.name }}</option>
                    </select>
                </div>

            <div class="form-group">
              <label for="name">Type of User</label>
              <select name="coursename" id="coursename" [(ngModel)]="notificationDetail.type" class="form-control" (change)="checkSubjectStatus()" required>
                <option value="contributor">Contributor</option>
                <option value="validator">Validator</option>
              </select>
            </div>

            <input *ngIf="showButton" type="submit" value="{{ buttonValue }}" class="btn btn-success btn-block">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
