<div class="card" id={{id}} #child>
  <div class="card-body">
    <div class="form-group">
      <label for="usr">Enter Question</label>
      <input type="text" [(ngModel)]="question" class="form-control" [disabled]="disabled">
      <div class="form-group">
        <label for="mark">Mark</label>
        <select class="form-control" [(ngModel)]="mark" name="mark" [disabled]="disabled" >
            <option>3</option>
            <option>5</option>
            <option>8</option>
            <option>10</option>
          </select>
          <label for="module">module number</label>
        <select class="form-control" [(ngModel)]="module" name="mark" [disabled]="disabled">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <label for="difficulty"  >Difficulty Level</label>
        <select class="form-control" [(ngModel)]="difficulty" name="difficulty" [disabled]="disabled">
          <option>Hard</option>
          <option>easy</option>
          <option>medium</option>
        </select>
        <label for="cognitive" >Cognitive Level</label>
        <select class="form-control" [(ngModel)]="cognitive" name="cognitive" [disabled]="disabled">
          <option>knowledge</option>
          <option>Comprehension</option>
          <option>Application</option>
        </select>
        <button type="button" *ngIf="!disabled" class="btn btn-success" (click)="lock()">lock</button>
        <button type="button" *ngIf="disabled" class="btn btn-secondary" (click)="unlock()">Unlock</button>
        <button type="button"  class="btn btn-danger" (click)="remove(child)">remove</button>
      </div>
    </div>
  </div>
</div>