<div class="container">
  <div class="jumbotron mt-2">
    <h1 class="display-3"><img src="../../assets/student.png" alt="Site Logo"> Question Paper Generator</h1>
    <hr class="my-2" />
    <p class="lead">
      This system will automatically generate a question paper based on
      specification provided. Also the system is based on crowdsourcing model
      which collects questions from various contributors.
    </p>
  </div>
  <div class="row">
    <div class="col mx-auto">
      <div class="mt-2 card">
        <div class="card-body">
          <hr />
          <p style="font-size: 20px;">
            <strong style="color: darkcyan;">Project Guide : </strong> Sangita
            Chaudhari
          </p>
          <hr />
          <p style="font-size: 20px;">
            <strong style="color: darkcyan;">Team Member 1 : </strong>
            Sanjeevkumar Sharma
          </p>
          <p style="font-size: 20px;">
            <strong style="color: darkcyan;">Team Member 2 : </strong> Kaushal
            Sheth
          </p>
          <p style="font-size: 20px;">
            <strong style="color: darkcyan;">Team Member 3 : </strong> Sameer
            Yadav
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
